/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0; 
  text-decoration: none;
  list-style: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: .025em;
  
}

.hidden {
	display: none;
}

 

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#2c2a29;
	--color-background:#eee;
	--link-color: #2c2a29;
}





/****************/
/* JOUW STYLING */
/****************/

/*************/
/* Header */
/************/

header p {
	background-color: #f5f5f5;
	padding-top: .60rem;
	padding-bottom: 0.70rem;
	text-align: center;
	font-weight: 300;
	font-size: .75rem;
	line-height: 1rem;
	color: var(--text-color);
	
}

header img {
	max-width: 100%;
	height: auto;
}

button { 
	border: none;
	background-color: white;
}



/* Nav */

nav {
	display: flex;
    flex-direction: row;
	justify-content:space-between;
	align-items: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.2em;
	padding-top: 0.2em;

}

.logo img {
	padding-bottom: 0.5em;
	padding-top: 1em;
	padding-left: 2.5em;
	padding-right: 1.5em;
}



/* Ham menu button*/

.ham-menu {
  position: sticky;
  z-index: 2;
  width: 5.5em;  
  height: 5.5em;
  background: transparent; 
  border: none;
  padding: 8px;
  cursor: pointer;
}

.hamburger-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.hamburger-icon path {
  fill: none; 
  stroke: #000;
  stroke-width: 2.5; 
  stroke-linecap: square;
  transition: all 0.3s ease-in-out;
  
}

/* Active state */
.hamburger-icon.active path:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
  transform-origin: center 15px;
  
}
.hamburger-icon.active path:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.active path:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
  transform-origin: center 15px;
  
}




/* overige buttons */


.nav-icons img {
	width: 4em;
	height: 4em;
}

.nav-icons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}



/* off screen menu */

.off-screen-menu {
    display: flex;
    flex-direction: column;    
    text-align: start;
    background-color: white;
    width: 100vw; /* vw voor echte full screen */
    height: 100vh; /* Full screen hoogte */
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(100%); /* Verberg onder scherm */
    font-size: 1.5em;
    transition: transform 350ms ease;
    z-index: 1; /* Lager dan hamburger */
    overflow-y: auto;
    padding-bottom: 2em; /* Ruimte onderaan */
	top: 0;
	padding-top: 2.25rem;
}

.off-screen-menu ul {
    margin-top: 5em; /* Ruimte voor hamburger button bovenaan */
    padding: 0 2em;
    list-style: none;
}

.off-screen-menu li {
    margin-top: 0.3em;
}

.off-screen-menu a {
    color: var(--link-color);
}

.off-screen-menu.active {
    transform: translateY(0); /* Schuift omhoog in beeld */
}





/*************/
/* Main */
/**************/


/* Section 1 */
.section1-christmas {
	background-color: rgba(203, 227, 226, 1);
}

.section1-christmas img {
	height: 44rem;
	max-height: 400px;
	width: 100%;
	object-fit: cover;
	
	
}

.section1-text {
	text-align: center;
	padding: 2rem;

}

.section1-text h2 {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.75rem;
	margin-bottom: 1.5rem;
	color: var(--text-color);
}

.section1-text p {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 2rem;
	color: var(--text-color);
}

.section1-text a {
    color: var(--link-color);
    border: 2px solid #111;;
    padding: .5rem;
    display: block; 
	font-size: 1rem;
}





/* section 2 carrousel */
.carrousel {
	position: relative;
	
}

.carrousel ul {
	margin-top: 4em;
	margin-left: 3em;
    width: 100%; 
    padding-left: 1.75rem;
	padding-right: 1.75rem;
    overflow-x: hidden; /* scroll verbergen omdat we knoppen gebruiken */
	scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
	align-items: center;
}

.carrousel li {
    flex: 0 0 calc(50% - 20px); /* 2 items per view */
    box-sizing: border-box;
	scroll-snap-align: start;
    
    
}

.carrousel li:nth-child(3) {
    margin-left: 60px; /* of wat je wilt */
}

.carrousel li:nth-child(5) {
    margin-left: 60px;
}


.carrousel li:nth-child(6) {
    margin-right: 60px;
}

.carrousel h2 {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.25rem;
	color: var(--text-color);
}

.carrousel p {
	font-size: .875rem;
	font-weight: 300;
	line-height: 1.25rem;
	padding: .5rem;
	color: var(--text-color);
}


.carrousel img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;  
}

.carrousel-text {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	min-height: 7rem;
	padding: .5rem;
}


/* buttons carrousel */
#prev-btn, 
#next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 2rem;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
}

#prev-btn { left: 0; }
#next-btn { right: 0; }





/* section 3 categorieen */

.section3-categorieen {
	display: grid;
	align-items: center;
	column-gap: 1rem;
	margin-top: 4rem;
	padding-left: 1em;
	padding-right: 1em;
}

.section3-categorieen img {
	width: 100%;
	max-height: auto;
	display: block;

}

.section3-categorieen a {
	margin-bottom: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	color: var(--link-color);
	text-decoration-line: underline;
	text-underline-offset: 8px;
	font-size: .875rem;
	line-height: 1.25rem;
	font-weight: 300;
}




/* article */

.article1-main {
	background-color: rgba(245, 245,245, 1);
}

.article1-main img {
	width: 100%;
	height: 100%;
}

.article1-main-text {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	
}

.article1-main-text h2 {
	font-weight: 550;
	font-size: 1.5rem;
	line-height: 1.75rem;
	margin-bottom: 1rem;
	color: var(--color-text);
}

.article1-main-text p {
	font-weight: 300;
	font-size: 1rem;
	color: var(--color-text);
	line-height: 1.5625rem;
}




/**************/
/* Footer */
/**************/

footer {
	background-color: #33cee5;
	column-gap: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;

}

footer h3 {
	font-weight: 500;
	font-size: 1.25rem;
	margin-bottom: 0.6em;
}

footer a {
	color: var(--link-color);
	font-weight: 300;
	font-size: .875rem;
	line-height: 1.25rem;
	

}

footer li {
	margin-bottom: 0.75em;
}

footer article {
	margin-left: 1.5rem;
	
}

footer ul {
	padding: 0;
	
}

 footer fieldset {
	border: none;
	padding: 0;
	
 }

 footer select {
	padding: .375rem;
	border: none;
	font-size: 1rem;
	font-weight: 300;
	margin-top: 1.3em;
 }

 hr {
	border: #e5e5e5 solid 0.5px;
	margin-top: 2rem;
	margin-bottom: 2rem;
 }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}