/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0; 
  text-decoration: none;
  list-style: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: .025em;
  
}

.hidden {
	display: none;
}

 

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#2c2a29;
	--color-background:#eee;
	--link-color: #2c2a29;
}





/****************/
/* JOUW STYLING */
/****************/

/*************/
/* Header */
/************/

header p {
	background-color: #f5f5f5;
	padding-top: .60rem;
	padding-bottom: 0.70rem;
	text-align: center;
	font-weight: 300;
	font-size: .75rem;
	line-height: 1rem;
	color: var(--text-color);
	
}

header img {
	max-width: 100%;
	height: auto;
	display: block;
}

button { 
	border: none;
	background-color: white;
}



/* Nav */

nav {
	display: flex;
    flex-direction: row;
	justify-content:space-between;
	align-items: center;
	padding-left: 0.5em;
	padding-right: 0.5em;

}

.logo {
	margin-top: .5rem;
	margin-bottom: .5rem;
	
}

.logo img {
	width: 8em;
	height: 3.3em;
}


.ham-search {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}



/* Ham menu button*/

.ham-menu {
  z-index: 10;
  background: transparent; 
  border: none;
  padding: 8px;
  cursor: pointer;
}

.hamburgerIcon {
  width: 30px;
  height: 24px;

}


.hamburgerIcon path {
  fill: none; 
  stroke: #000;
  stroke-width: 2.5; 
  stroke-linecap: square;
  transition: all 0.3s ease-in-out;
  
}

/* Active state */
.hamburgerIcon.active path:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
  transform-origin: center 15px;
  
}
.hamburgerIcon.active path:nth-child(2) {
  opacity: 0;
}
.hamburgerIcon.active path:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
  transform-origin: center 15px;
  
} 


/* overige buttons */


.nav-icons svg {
	width: 24px;
	height: 24px;
	color: #000;
}

.nav-icons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
}



/* off screen menu */

.off-screen-menu {
    display: flex;
    flex-direction: column;    
    background-color: white;
    width: 100%;
    height: 100dvh; /* Dynamic viewport height - beter voor mobiel */
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 12;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling op iOS */
   
	visibility: hidden;
}

.off-screen-menu ul {
    margin-top: 5em; /* Ruimte voor hamburger button bovenaan */
    padding: 0 2em;
    list-style: none;
}

.off-screen-menu li {
    margin-top: 0.3em;
}

.off-screen-menu a {
    color: var(--link-color);
}

.off-screen-menu.active {
    transform: translateY(0); /* Schuift omhoog in beeld */
	visibility: visible;
}

body.menu-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.off-screen-menu svg{
	width: 48px;
  	height: 48px;
}

.off-screen-menu div {
	display: flex;
	flex-direction: row;
}

.off-screen-menu img {
	width: 8em;
    height: 3.3em;
}

/*************/
/* Main */
/**************/


/* Section 1 */
.section1-christmas {
	background-color: rgba(203, 227, 226, 1);
}

.section1-christmas img {
	height: 44rem;
	max-height: 400px;
	width: 100%;
	object-fit: cover;
	
	
}

.section1-text {
	text-align: center;
	padding: 2rem;

}

.section1-text h2 {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.75rem;
	margin-bottom: 1.5rem;
	color: var(--text-color);
}

.section1-text p {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 2rem;
	color: var(--text-color);
}

.section1-text a {
    color: var(--link-color);
    border: 2px solid #111;;
    padding: .5rem;
    display: block; 
	font-size: 1rem;
}





/* section 2 carrousel */
.carrousel {
	position: relative;
	
}

.carrousel ul {
	margin-top: 4em;
	margin-left: 3em;
    width: 100%; 
    padding-left: 1.75rem;
	padding-right: 1.75rem;
    overflow-x: hidden; /* scroll verbergen omdat we knoppen gebruiken */
	scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
	align-items: center;
}

.carrousel li {
    flex: 0 0 calc(50% - 20px); /* 2 items per view */
    box-sizing: border-box;
	scroll-snap-align: start;
    
    
}

.carrousel li:nth-child(3) {
    margin-left: 60px; /* of wat je wilt */
}

.carrousel li:nth-child(5) {
    margin-left: 60px;
}


.carrousel li:nth-child(6) {
    margin-right: 60px;
}

.carrousel h2 {
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.25rem;
	color: var(--text-color);
}

.carrousel p {
	font-size: .875rem;
	font-weight: 300;
	line-height: 1.25rem;
	padding: .5rem;
	color: var(--text-color);
}


.carrousel img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;  
}

.carrousel-text {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	min-height: 7rem;
	padding: .5rem;
}


/* buttons carrousel */
#prev-btn, 
#next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 2rem;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
}

#prev-btn { left: 0; }
#next-btn { right: 0; }





/* section 3 categorieen */

.section3-categorieen {
	display: grid;
	align-items: center;
	column-gap: 1rem;
	margin-top: 4rem;
	padding-left: 1em;
	padding-right: 1em;
}

.section3-categorieen img {
	width: 100%;
	max-height: auto;
	display: block;

}

.section3-categorieen a {
	margin-bottom: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	color: var(--link-color);
	text-decoration-line: underline;
	text-underline-offset: 8px;
	font-size: .875rem;
	line-height: 1.25rem;
	font-weight: 300;
}




/* article */

.article1-main {
	background-color: rgba(245, 245,245, 1);
}

.article1-main img {
	width: 100%;
	height: 100%;
}

.article1-main-text {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	
}

.article1-main-text h2 {
	font-weight: 550;
	font-size: 1.5rem;
	line-height: 1.75rem;
	margin-bottom: 1rem;
	color: var(--color-text);
}

.article1-main-text p {
	font-weight: 300;
	font-size: 1rem;
	color: var(--color-text);
	line-height: 1.5625rem;
}




/**************/
/* Footer */
/**************/

footer {
	background-color: #33cee5;
	column-gap: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;

}

footer h3 {
	font-weight: 500;
	font-size: 1.25rem;
	margin-bottom: 0.6em;
}

footer a {
	color: var(--link-color);
	font-weight: 300;
	font-size: .875rem;
	line-height: 1.25rem;
	

}

footer li {
	margin-bottom: 0.75em;
}

footer article {
	margin-left: 1.5rem;
	
}

footer ul {
	padding: 0;
	
}

 footer fieldset {
	border: none;
	padding: 0;
	
 }

 footer select {
	padding: .375rem;
	border: none;
	font-size: 1rem;
	font-weight: 300;
	margin-top: 1.3em;
 }

 hr {
	border: #e5e5e5 solid 0.5px;
	margin-top: 2rem;
	margin-bottom: 2rem;
 }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}








/* ********************* */
/********************* */
/* Overview page  */
/* ********************* */
/* *********************** */

/* main */

/* breadcrumbs */

.breadcrumbs {
	border-top: 0.02em solid #ababab;
}

.breadcrumbs ol{
	display: flex;
	flex-direction: row;
	margin-block-start: 1em;
    margin-block-end: 1em;
	padding-inline-start: 0;

}

.breadcrumbs a {
	font-size: .6875rem;
	font-weight: 250;
	color: var(--link-color);
}

.breadcrumbs li:not(:first-child)::before {
	border-right: .1em solid #757575;
	content: '';
	display: inline-block;
	height: .6em;
	margin: 0 0.6em;
	transform: rotate(15deg);
}


/* productcarrousel */

.slider h3 {
	font-size: .75rem;
	font-weight: 250;
	
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 11px;
	padding-right: 11px;
	border: 1px solid #33cee5;
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.slider {
	position: relative;
	
}

.slider ul {
    width: 100%; 
    overflow-x: hidden; /* scroll verbergen omdat we knoppen gebruiken */
	scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
	align-items: center;
}

.slider li {
    flex: 0 0 calc(50% - 20px); 
    box-sizing: border-box;
	scroll-snap-align: start;
    
    
}

.slider img {
    width: 23em;
}



/* buttons carrousel */
.slider #prev-btn, 
.slider #next-btn {
    position: absolute;
    top: 48vh;
    transform: translateY(-50%);
    border: none;
    font-size: 2rem;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
	width: 24;
	height: 24;
}

#prev-btn svg, #next-btn svg{
	width: 48px;
	height: 48px;
}

/* section 2 */

.dragon {
	padding-left: 1rem;
	padding-right: 1rem;

	margin-bottom: 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: .25rem;
}

.dragon h1 {
	font-size: 1.625rem;
	font-weight: 550;
	margin-bottom: 8px;
	line-height: 1.875rem;
}

.dragon p {
	font-size: 1.375rem;
	font-weight: 550;
	line-height: 1.875rem;
}

.stars {
	display: flex;
	flex-direction: row;
}

.stars svg {
	width: 24px;
	height: 24px;
}

.stars a {
	padding-left: .5rem;
}

.dragon button {
	height: 52px;
	font-size: 1.125rem;
	font-weight: 400;
	text-align: center;
	width: 100%;
	margin-bottom: 1em;
}

.dragon button:first-of-type {
	background-color: #CCCCCC;
	color: var(--color-text);
	margin-top: 2em;
}

.dragon button:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	border: 1px solid #111;
	padding-top: .875rem;
	padding-bottom: .875rem;
	padding-left: 2.25rem;
	padding-right: 2.25rem;
}

.dragon button:nth-of-type(3) {
	background-color: #33cee5;
	padding-top: .875rem;
	padding-bottom: .875rem;
	padding-left: 2.25rem;
	padding-right: 2.25rem;
}

/* section 3 */

.wesay-yousay {
	background-color: #33cee5;
	display: grid;
	margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 120rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
	padding-top: 2.2em;
}

.wesay-yousay ul {
	display: flex;
	justify-content: center;
	grid-column-start: 1;
	grid-column-end: 13;
	
	
}

.wesay-yousay li {
	
	background-repeat: no-repeat;
	background-position: top;
	background-size: 80px auto;
	padding-top: 3.75rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	
}

.wesay-yousay button {
	font-size: 1.25rem;
	text-transform: uppercase;
	background-color: transparent;
}


.quote {
	grid-column-start: 3;
	grid-column-end: 11;
	padding-top: 3rem;
    padding-bottom: 3rem;
	text-align: center;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.625rem;
}

.quote::before {
	background-image: url(/images/quote-marks.svg);
	content: '';
	position: absolute;
    left: 2em;
    height: 1.5rem;
    width: 1.5rem;
    --tw-translate-x: -35px;
    --tw-translate-y: -17px;
}

.quote::after {
	background-image: url(/images/quote-marks.svg);
	content: '';
	position: absolute;
    right: 5em;
    height: 1.5rem;
    width: 1.5rem;
    transform: translate(40px, -30px) rotate(180deg);
}


/* standaard: niet-actieve knoppen zijn transparanter */
.wesay-yousay li button {
    opacity: 0.4;
    transition: opacity .3s ease;
}

/* actieve button = 100% zichtbaar */
.wesay-yousay li.active button {
    opacity: 1;
}


/* actieve verbergt achtergrond */
.wesay-yousay li {
    background-image: none;
}

.wesay-yousay li.active {
	transition: background-image .3 ease;
	background-image: url(/images/jellycat-bounce-overviewgif.gif);
	border-bottom: 2px solid #f5f5f5;
}

#quote1 {
	padding-top: 2rem;
    padding-bottom: 1.25rem;
}

#quote1 p{
	padding-bottom: 1em;
}

.stars2 {
	display: flex;
	flex-direction: row;
	
	justify-content: center;
	
}

.stars2 svg {
	width: 24px;
	height: 24px;
}


#quote2 p {
	margin-top: 1em;
	margin-bottom: 2em;
}


/* Dropdowns section 4 */

.dropdowns svg {
	width: 24px;
	height: 24px; 
}

.dropdowns {
	padding-top: 2.5rem;
    padding-bottom: 2.5rem;
	background-color: #f5f5f5;
}

.dropdowns ul {
	padding: 0
	 
}

 .dropdowns li {
    border-bottom: 1px solid #cecece;
	background-color: #f5f5f5;
}

.dropdowns li:last-child {
    border-bottom: none;
}

.dropdown-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
	background-color: #f5f5f5;
    align-items: center;
    padding: 1.125rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}


.dropdown-header h4 {
	font-size: 1.5em;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 24px;
}

.dropdown-content.open {
    max-height: 700px;
    padding: 0 24px 20px 24px;
}

.dropdown-content p {
    color: #666;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    
	padding: 0 1rem;
}

/* reviews */
.dropdown-content li {
	border: none;
	margin-top: 2rem;
    margin-bottom: 2rem;
}

.dropdown-content h5 {
	font-size: 1rem;
    line-height: 1.5625rem;
	font-weight: 500;
	margin-bottom: .5rem;
}

.dropdown-content p:first-of-type {
	margin-bottom: .5rem;
	font-size: .75rem;
}